@model PagedList.IPagedList<Coupons.Models.CouponMaker>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "CouponMaker";
}

<h2>Coupons</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm()) 
{
    <p>
        Search By Category: @Html.DropDownList("SelectedCategory", "All")
        <input type="submit" value="Search" />
    </p>
    <p>
        Find By Location: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">

    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Business
        </th>
        <th>
            Location
        </th>
        <th>
            Description
        </th>
        <th>
            Original price
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Rating
        </th>
        <th>
            Number of raters
        </th>
        <th>
            @Html.ActionLink("Start date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            End date
        </th>
        <th>
            Quantity
        </th>
        <th>
            Max quantity
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Business.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Business.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.originalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.couponPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numOfRaters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.status)
        </td>
        @if (ViewBag.Permissions.EditDeleteCouponMaker)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                @Html.ActionLink("Order", "Order", new { id = item.ID })
            </td>
        }
       @if (!ViewBag.Permissions.EditDeleteCouponMaker)
       {
        <td>
            @Html.ActionLink("Order", "Order", new { id = item.ID })
        </td>
       }
        
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))