@model Coupons.Models.Coupon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordered Coupons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Serial Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponMaker.Name)
        </dd>

        <dt>
           First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.firstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.lastName)
        </dd>

        <dt>
        Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>

        <dt>
        End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponMaker.endDate)
        </dd>

        <dt>
            Coupon Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponMaker.couponPrice)
        </dd>

        <dt>
            Active
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
