@model IEnumerable<Coupons.Models.Business>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Search By Category: @Html.DropDownList("SelectedCategory", "All")
        <input type="submit" value="Search" />
    </p>
    <p>
        Search By Location: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>

    
}
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Owner's name
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Description
        </th>
        <th>
            Address
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Money Earned
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moneyEarned)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
