@model Coupons.Models.CouponMaker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CouponMaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Original Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.originalPrice)
        </dd>

        <dt>
            Coupon Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couponPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            Number of Raters 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfRaters)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
           End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            Max Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
